*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
app/libs/
app/src/main/res/values-be/
app/src/main/res/values-de/
app/src/main/res/values-en/
